<library path="src">
  <class name="Biomech Gui" type="biomech_gui.gui.ExoControlPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      The gui used by the biomech lab in order to control the exo skeleton
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>Gui widget for the biomech lab</label>
      <icon type="theme">system-help</icon>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>
